.card {
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    border: 1px solid white;
}

.card-open {
    opacity: 0.5;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.card-disabled {
    pointer-events: none;
    opacity: 0.5;
}

.span {
    width: 10px;
    height: 10px;
    background-color: white;
    margin: auto;
    display: none;
    border-radius: 5px;
}

.span-true {
    display: block;
}