.App {
  text-align: center;
  display: flex;
  margin: 20px auto 0;
  width: 260px;
  height: 260px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  background-color: black;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.card-open {
  opacity: 0.5;
  /*background-color: black;*/
  width: 40px;
  height: 40px;
  border-radius: 5px;
}